# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
video_env/
myenv/
env/
miniforge3/

# Large binaries
*.dylib
site-packages/

# Data outputs
data/frames/
data/videos/

# macOS
.DS_Store

